In [1]:
import pandas as pd

In [13]:
m=pd.read_pickle('house_price_predictor.pkl')

In [14]:
m

LinearRegression()

In [16]:
inco= eval(input('Enter the Income:'))
age= eval(input('Enter the House Age:'))
room= eval(input('Enter the Number of Rooms:'))
pop= eval(input('Enter the Population:'))

quary=pd.DataFrame({'Income':[inco],'House_Age':[age],'Rooms':[room],'Population':[pop]})

Enter the Income: 50000
Enter the House Age: 4
Enter the Number of Rooms: 6
Enter the Population: 30000

In [17]:
quary

   Income  House_Age  Rooms  Population
0   50000          4      6       30000

In [18]:
round(m.predict(quary)[0],2)

289615.58